table td:hover {
  background-color: #f5f5f5;
}
.blue-back{
  background-color: #2196f3;
}
.container-shadow {
  -webkit-box-shadow: 0 4px 3px -3px grey;
    -moz-box-shadow: 0 4px 3px -3px grey;
      box-shadow: 0 4px 3px -3px grey;
}
.icon-style{
  font-size: 3rem !important;
  color: #2196f3;

}
.allergy-text{
  color: #ff7b7b;
}